/*
 * Frutiger Font
 */
@font-face {
  font-family: 'frutiger';
  src: url('../fonts/FrutigerLTStd-Roman.woff') format('woff'),
  url('../fonts/FrutigerLTStd-Roman.otf') format('truetype');
}

@font-face {
  font-family: 'frutiger-bold';
  src: url('../fonts/FrutigerLTStd-Bold.woff') format('woff'),
  url('../fonts/FrutigerLTStd-Bold.otf') format('truetype');
}

/*
 * NPS Banner & Subtitle Area
*/
#title {
  color: #fff;
  font-family: arial,helvetica,sans-serif;
  font-size: 14px;
  font-weight: bold;
  margin: 0;
  display: table-cell;
  vertical-align: middle;
}

#banner {
  /* Transparent strip behind text */
  /* Creates the solid bg for IE8 */
  background: rgb(0, 0, 0);
  /* Creates the optionally transparent bg for ALL OTHER BROWSERS */
  background: rgba(0, 0, 0, 1.0);
  color: #fff;
  height: 111px;
  width: 100%;
  overflow:hidden;
}

#parkShortName {
  display: table;
  float: left;
  height: 79px;
  font-family: arial,helvetica,sans-serif;
  font-size: 40px;
  font-weight: normal;
  letter-spacing: -0.7px;
  line-height: 79px;
  margin: 0;
  padding: 0 0 0 25px;
}

#parkDetailName {
  display: inline-block;
  vertical-align: middle;
  height: 40px;
  float: left;
  padding-left: 15px;
  padding-top: 19px;
}

#unitType {
  display: inline-block;
  vertical-align: middle;
  color: #fff;
  font-family: arial,helvetica,sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  margin: 0;
  float: left;
  clear: both;
}

#parkLocation {
  display: inline-block;
  vertical-align: middle;
  color: #fff;
  font-family: arial,helvetica,sans-serif;
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 0;
  line-height: 20px;
  float: left;
  clear: both;
}

.orgLogo {
    display: table;
    height: 79px;
    float: right;
    padding-right: 25px;
}

.orgLogo h2  {
    color: #fff;
    display: table-cell;
    font-family: arial,helvetica,sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    margin: 0;
    vertical-align: middle;
    text-decoration: none;
    padding-right: 15px
}

.orgLogo h2 a:link, a:visited  {
    color: #fff;
    text-decoration: none;
}

.orgLogo h2 a:hover, h2 a:active {
    color: #fff;
    text-decoration: underline;
}

.orgLogoDiv {
    display: table-cell;
    vertical-align: middle;
}

.mapTitle {
  background: #5e7630;
  color: #fff;
  height: 32px;
  width: 100%;
  position: absolute;
  left: 0px;
  top: 79px;
  padding-left: 25px;
}

.titleArea {
  display: table;
  height: 32px;
  float: left;
}

/*
 * Social Sharing Icons
 */
.social{
  float: right;
  height: 32px;
  color: white;
  font-weight:normal;
  font-size:13px;
  padding-right: 50px;
}

.shareIcon {
    display: inline-block;
    cursor: pointer;
    padding: 2px 2px 0px 2px;
    margin-top: 6px;
    margin-left: 2px;
    vertical-align: middle;
}

.shareIcon:hover {
    color: #C8DEA8;
}

.share_bitly {
    vertical-align: bottom;
}

.popover {
  position: absolute;
  top: -9px;
  right: 75px;
  z-index: 1010;
  display: none;
  max-width: 276px;
  padding: 1px;
  text-align: left;
  background-color: #ffffff;
  -webkit-background-clip: padding-box;
  /*noinspection CssInvalidElement*/
  -moz-background-clip: padding; /* support for Firefox 1.0 to 3.6 */
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  white-space: normal;
  margin-left: -10px;
  color: black;
}
.arrow {
  top: 50%;
  right: -11px;
  margin-top: -11px;
  border-right-width: 0;
  border-left-color: #999;
  border-left-color: rgba(0, 0, 0, 0.25);
  border-width: 11px;
  border-bottom: 12px solid transparent;
  margin-top: -12px;
  width: 0;
  border-left: 12px solid #f7f7f7;
  height: 0;
  border-top: 12px solid transparent;
  top: 50%;
  position: absolute;
}

/*
 * Mobile Intro Page
 */
#mobileTitlePage img{
  float: right;
  margin-top: 12px;
  margin-right: 15px;
}

#mobileTitle{
  margin-top: 12px;
  margin-left: 15px;
  font-family: 'frutiger-bold', sans-serif;
  font-size: 1.4em;
  font-weight: bold;
  overflow-x: hidden;
  color: #fff;
}

.mobileTitleThemes{
  height: 80px;
  -webkit-box-shadow: none !important;
  cursor: pointer;
  margin: 0 !important;
  border-color: #fff;
  border-style: solid;
  border-width: 1px 0px 1px;
  background-color: #5e7630;
  font-size: 1.4em !important;
  color: #f4f4f4;
}

.mobileTitleThemes:hover, .mobileTitleThemes:focus{
  background-color: #b28000 !important;
  color: #fff;
}

/*
 * Mobile Feature Info Pane
 */
.mobileFeatureTitle{
  color: black;
  font-family: 'frutiger-bold', sans-serif;
  font-size: 1.4em;
  text-align: left;
  padding-left: 70px;
  padding-top: 8px;
  margin-top: -35px;
  font-weight: bold;
}

/*
 * Mobile Theme/Nav Bar 
 */
#mobileThemeBar{
  visibility: hidden;
  width: 100%;
  top: 48%;
  height: 40px;
  background-color: #5e7630;
  position: absolute;
  color: #CFCFCF;
}

/*
 * Mobile Theme/Nav Bar Icons
 */
.icon-contract{
  color: white;
}

.icon-contract:hover{
  color:#DDC78F;
}

.icon-arrow-left{
  color: white;
  position: absolute;
  left: 5px;
  top: 8px;
}

.icon-arrow-left:hover {
  color:#DDC78F;
}

.icon-arrow-right{
  color: white;
  position: absolute;
  right: 5px;
  top: 8px;
}

.icon-arrow-right:hover {
  color:#DDC78F;
}

#returnIcon{
  display: none; 
  cursor: pointer;
  color: white;
  width: 40px;
  height: 40px;
}

#returnIcon:hover{
  color:#DDC78F;
}
