html,body {
	/*
	padding:0;
	margin:0;
	overflow:hidden;
	*/
	height:100%;
	width:100%;
	min-width:500px;
	margin:auto	
}

body {
	background-color:#fff;
	color:#333;
	font-size:14px;
	overflow:hidden;
	font-family:Georgia, "Times New Roman", Times, serif;
}

a {
	color:#555;
	font-weight:bold;
	text-decoration:none;
}

a:hover{
	text-decoration:underline;
}
	  
#header {
	height:115px;
	background:#444;
	color:#fff;
	margin:0;
	overflow:hidden;
}

#headerText{
	padding-top:5px;
	padding-left:25px;
	float:left;
}

#title {
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	font-weight:bold;
	text-align:left;
	white-space: nowrap;  
	overflow: hidden;  
	text-overflow: ellipsis;
	-o-text-overflow:ellipsis;
}

#subtitle {
	font-size:13px;
	margin-top:10px;
	overflow: hidden;
	font-weight:normal;
}

#logoArea{
	float:right;
	padding-top:15px;
	padding-right:25px;
	text-align:right;
}

#social{
	margin-bottom:20px;
}

#msLink{
	color:#fff;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:13px;
	outline:none;
}

#logo{
	border:none;
	outline:none;
}

#logoImg{
	border:none;
	outline:none;
}

#mainWindow {
	width:100%;
	height:100%;
	position:relative;
}

#divStrip {
	width:100%;
	height:35px;
	margin:auto;
	overflow:visible;
	background-color:#7a7a7a;
	margin:0px;
	padding:0px;
	z-index:101;
}

#tabs {
	height:100%;
	padding-left:17px;	
	overflow:hidden;
}

#paneLeft {
	/* initial width -- will be re-calculated in app */
	width:485px;
	overflow:hidden;
	background-color:#b9b9b9;
	padding:8px;
}
	  
#map {
	position:absolute;
	top:35px;
	border:none;
	padding:0;
	height:100%;
	width:100%;
	overflow:hidden;
}

#hoverInfo{
	font-size:10px;
	font-family:Verdana, Geneva, sans-serif;
	position:absolute;
	padding:5px;
	max-width:200px;
	background-color:#FFC;
	border:#848484 solid 1px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-moz-box-shadow: 2px 2px 10px #333;
	-webkit-box-shadow: 2px 2px 10px #333;
	box-shadow: 2px 2px 10px #333;
	filter: progid: DXImageTransform.Microsoft.Shadow(strength = 2, direction = 135, color = '#333333');
	-ms-filter: "progid: DXImageTransform.Microsoft.Shadow(strength = 2, Direction = 135, Color = '#333333')";
	overflow:hidden;
	display:none;
	z-index:100;
}

#zoomToggle{
	position:absolute;
	left:15px;
	top:15px;
	width:32px;
	z-index:2;
	cursor:pointer;
	visibility:hidden;
}

ul.tilelist {
	/* initial width -- will be re-calculated in app */
	width: 492px;
	padding-left:1px;
    display:inline-block;
	overflow:auto;
	margin-top:0px;
	margin:auto;
	padding-bottom:10px;
}

ul.tilelist li {
    list-style-type: none;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    margin: 2px;
    width: 150px;
    height: 150px;
    float: left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:9px;
	font-weight:bold;
	background-color:#E7E7E7;
	cursor:pointer;
	position:relative;
}

ul.tilelist > a {
    display: block;
    position: relative
    text-decoration: none;
    color: #FFFFFF;
    width: 98px;
    height: 75px;
}

ul.tilelist img {
    max-width:130px;
    max-height:100px;	
	margin:10px;
}

ul.tilelist p {
    margin: 0px;
    margin-left: -40px;
    margin-top: -10px;
}

ul.tilelist .footer {
	padding-left:10px;
	position:absolute;
	top:113px;
	left:0px;
}

ul.tilelist .num {
	width:16px;
	padding-top:1px;
	padding-bottom:1px;
	float:left;
	border:solid;
	border-width:thin;
	color:white;
	font-size:11px;
	text-align:center;
}

ul.tilelist .blurb {
	width:110px;
	float:left;
	margin-left:4px;
	text-align:left;
}

.multiTip{
	border: 1px solid #444;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.esriPopup .titleButton.maximize {
	display:none;
}

.details {
	padding:20px;
	padding-bottom:0px;
	height:100%;
}

.details .title {
	color:#8c8c8c;
	font-family:Verdana, Geneva, sans-serif;
	font-size:24px;
}

.details hr {
	margin-top:5px;
	margin-bottom:10px;
}

.details .leftDiv {
	width:200px;
	float:left;
}

.details .pictureFrame {
	width:200px;
	height:150px;
}

.details img {
	max-width:200px;
	max-height:150px;
}

.details .rightDiv {
	width:250px;
	float:left;
	padding-left:20px;
	height:100%;
	overflow:auto;
}

.details .address {
	margin-top:10px;
	color:#393939;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
}

.details a {
	color:#336699;
	text-decoration:underline;
}

.tab {
	float:left;
	background-color:#444;
	padding-top:4px;
	padding-left:10px;
	margin-top:10px;
	height:21px;
	width:96px;
	margin-left:7px;
	color:#d8d8d8;
	cursor:pointer;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
}

.tab:hover {
	color:#FFFFFF;
}

.tab-selected {
	background-color:#b9b9b9;
	color:#FFFFFF;
	cursor:default;
}

#bookmarksCon{
	position:absolute;
	width:160px !important;
	right:0px;
	top:0px;
	z-index:100;
	display:none;
}

#bookmarksDiv{
	display:none;
	background:#7A7A7A;
	max-height:450px;
	overflow:auto;
	padding:10px;
	font-family:Arial, Helvetica, sans-serif;
}

#bookmarksDiv a {
	color:#FFFFFF;
	cursor:pointer;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:normal;
}

#bookmarksToggle{
	position:relative;
	float:right;
	background:#7A7A7A;
	margin-top:6px;
	width:160px;
	.height:28px;
	cursor:pointer;
	z-index:100;
	color:#fff;
	font-family:Arial, Helvetica, sans-serif;
}

#bookmarksTogText{
	position:relative;
	margin:auto;
	margin-left:2px;
	.margin-top:0px;
	padding:5px;
	color:#fff;
	font-family:Arial, Helvetica, sans-serif;
}

.infoWindowLink {
	color:#336699;
	cursor:pointer;
	font-weight:bold;
}

.infoWindowLink:hover {
	text-decoration:underline;
}

.infoWindowPictureDiv {
	width: 100%;
	text-align:center;
	padding-top:10px;
	padding-bottom:10px;
}

.infoWindowPictureDiv img {
	max-width: 245px;
	max-height: 245px;
}

/* To change position of close button to Top Right Corner */
#colorbox #cboxClose
{
	top: 0;
	right: 0;
}

#whiteOut {
	position:absolute;
	width:100%;
	height:100%;
	background-color:#FFF;
	z-index:2000;top:0px;
}

#loader {
	position:absolute;
	top:50%;
	left:50%;
	margin-top:-40px;
	margin-left:-40px;	
}

.esriPopup .sizer {
	min-width: 280px;
}