.settings-layoutoptions {
	margin-top: 10px;
	padding-right: 275px;
}

.settings-layoutoptions .opt-container {
	margin-top: 15px;
}

.settings-layoutoptions .container-padding {
	margin-left: 20px;
}