.settings-generaloptions {
	margin-top: 10px;
}

.settings-generaloptions .opt-container {
	margin-top: 15px;
}

.settings-generaloptions .container-padding {
	margin-left: 20px;
}

.homeLocation{
	position: relative;
	top: -20px;
	left: -25px;
	font-size: 14px;
}

.tab-cfg-extent-btns {
	position: relative;
	top: -15px;
}

.generalSettingsButtons{
	margin-top: -35px;
}

.extentModeTooltip {
	left: 5px;
	top: -14px;
	position: relative;
}

.opt-more-infoLink-alias-cont {
	display: none;
	margin-left: 25px;
	margin-top: 10px;
}

.checkbox.disabled, .checkbox.disabled div, .checkbox.disabled label, .checkbox.disabled checkbox, .checkbox.disabled input{
	opacity: 0.8;
	cursor: not-allowed;
}

.bookmarksContainer span, .bookmarksContainer img{
	opacity: 1;
	cursor: pointer;
}

.bookmarkTooltip{
	position: absolute;
	top: 139px;
	left: 125px;
}
