<div class="settings-generaloptions">

	<div class="generalSettingsButtons">
		<div class="checkbox opt-container">
			<label>
				<input type="checkbox" class="opt-checkbox-numbered-icons" />
				<%= numberedPlaces %>
			</label>
		</div>
		<div class="checkbox opt-container">
			<label>
				<input type="checkbox" class="opt-checkbox-filter-by-extent" />
				<%= extentSensitive %>
			</label>
			<span class="extentSensitiveTooltip" data-placement="top" data-title="<%= extentSensitiveTooltip %>" >
				<img class="helpImg" src="resources/tpl/builder/icons/builder-help.png">
			</span>
		</div>
	</div>
</div>
