<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-logo"></div>
		<div class="modal-header">
			<h4 class="modal-title"><%= title %></h4>
		</div>

		<div class="modal-body">
			<p>
			<%= shortlistHelp1 %>
			</p>
			<p>
			<%= shortlistHelp2 %>
			</p>
			<p>
			<%= shortlistHelp3 %> <a href="http://www.arcgis.com/home" target="_blank">ArcGIS Online</a>, <%= shortlistHelp4 %>
			</p>
			<p>

			<h3><%= shortlistHelp5 %></h3>
			<ul>
				<li>
					<a href="//storymaps.arcgis.com/en/app-list/shortlist" target="_blank"><%= shortlistHelp6 %></a>
				</li>
				<li>
					<a href="//links.esri.com/storymaps/faq_shortlist" target="_blank"><%= shortlistFAQ %></a>
				</li>
			</ul>

			<h3><%= shortlistBetaFeedback %></h3>

			<p>
			<%= shortlistBetaFeedback2 %> <a href="//links.esri.com/storymaps/forum" target="_blank"><%= geonetForum %></a>.
			</p>

		</div>

		<div class="modal-footer">
			<button type="button" class="btn btnCancel btn-naked btn-close" data-dismiss="modal"><%= btnClose %></button>
		</div>
	</div>
</div>
