<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-logo"></div>
		<div class="modal-header">
			<h4 class="modal-title"><%= title %></h4>
		</div>

		<div class="modal-body">
			<p>
			Welcome to the Story Map Shortlist (beta). This app lets you present places of interest organized into tabs, making it fun for people to explore what's in an area. You can author your places interactively in this Builder.
			</p>
			<p>
			You can also create a Shortlist from an existing ArcGIS web map, including the option to import point data in the map into the Builder as places.
			</p>
			<p>
			To create a Shortlist from a web map, go to <a href="http://www.arcgis.com/home" target="_blank">ArcGIS Online</a>, open the web map, create a web app from it, and choose Story Map Shortlist from the gallery of apps. If your web map contains any point layers, the Shortlist Builder will prompt you to select the layers you want to import as places. If you created a Shortlist using the original, non-hosted version of the app, you can migrate your Shortlist into this new, hosted version of the app using the same steps.
			</p>
			<p>

			<h3>For more information</h3>
			<ul>
				<li>
					<a href="//storymaps.arcgis.com/en/app-list/shortlist" target="_blank">Visit the Shortlist section of the Esri Story Maps website</a>
				</li>
				<li>
					<a href="//links.esri.com/storymaps/faq_shortlist" target="_blank">Shortlist FAQ</a>
				</li>
			</ul>

			<h3>Beta feedback</h3>

			<p>
			We would love to hear from you! Let us know about issues and new features you need by visiting the <a href="//links.esri.com/storymaps/forum" target="_blank">Story Maps forum on GeoNet</a>.
			</p>

		</div>

		<div class="modal-footer">
			<button type="button" class="btn btnCancel btn-naked btn-close" data-dismiss="modal"><%= btnClose %></button>
		</div>
	</div>
</div>
