.inset{
	margin-top: 20px;
}

.description-picker {
	max-height: 250px;
	overflow: auto;
	border: 2px solid;
	padding: 0 20px;
	margin: 10px;
	width: 200px;
	cursor: ns-resize;
}

.description-picker label{
	cursor: ns-resize;
}

.tab-field-photo-picker {
	margin-left: 30px;
}

.photoSelect {
	margin-left: 20px;
	margin-top: 20px;
}

#fieldThumbUrlSelect {
	margin-left: 25px;
}

.imagesOptional{
	font-size: 0.9em;
	margin-left: 30px;
}
