<div class="tab-pane viewMigrationFieldSelectorContainer">

	<div class="inset field-name">
		<%= nameField %>
		<div class="tab-field-name-picker">
			<select id="fieldNameSelect">
				<option value="none"><%= none %></option>
			</select>
		</div>
	</div>

	<div class="inset description-info">
		<%= descriptionField %>
	</div>
	<div class="opt-container description-picker" >

	</div>

	<div class="inset url-info">
		<%= urlField %>
	</div>
	<div class="tab-field-url-picker">
		<select id="fieldUrlSelect">
			<option value="none"><%= none %></option>
		</select>
	</div>

	<div class="inset pic-info">
		<%= imageFields %>
	</div>
	<div class="tab-field-photo-picker">
		<%= mainImageField %>
		<select class="photoSelect" id="fieldPicUrlSelect">
			<option value="none"><%= none %></option>
		</select>
	</div>
	<div class="tab-field-photo-picker">
		<%= thumbImageField %>
		<select class="photoSelect" id="fieldThumbUrlSelect">
			<option value="none"><%= none %></option>
		</select>
	</div>
	<div class="inset imagesOptional">
		<%= noImageFields %>
	</div>
</div>
